td {
    vertical-align: middle;
    border: 0;
}

.oferta {
    background-color: greenyellow;
}

.tabla {
    display: flex;
    flex-direction: column;
    border-collapse: separate;
    border-spacing: 0 50px; /* Espaciado entre filas */
}

tr {
    border-radius: 10px;
    box-shadow: 2px 2px 25px rgba(64, 0, 255, 0.1);
    padding: 10px;
  }

img {
    width: 100%;
    height: 400px;
}

input {
    width: 10px;
}

.contenedor-atributos-comida {
    display: flex;
    flex-direction: column;
    font-family:Georgia, 'Times New Roman', Times, serif;
    gap: 10px;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 0;
}

.nombre {
    border: solid 1px black;
}

.input-integer {
    margin-top: 70px;
}

.stock {
    display: flex;
    margin-right: auto;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}