<table class="table text-center tabla">
    <tbody>
        @for (comida of comidas; track comida.nombre) {
            <tr [ngClass]="{'oferta': comida.oferta}">
                <td><img class="img-fluid rounded-3 border img-menu"
                    [src]="comida.imagen" [alt]="comida.nombre"></td>
                <div class="contenedor-atributos-comida">
                    <td class="nombre mb-2">{{comida.nombre | uppercase}}</td>
                    <td class="fs-6"><i>{{comida.categoria}}</i></td>
                    <td>{{comida.precio | currency}}</td>
                    <td class="input-integer">
                        @if (comida.stock){
                            <app-input-integer [(cantidad)]="comida.cantidad" [max]="comida.stock"></app-input-integer>
                        }
                    </td>
                    @if (comida.stock > 0) {
                        <td class="stock">stock: {{comida.stock}}</td>
                    } @else {
                        <td>SIN STOCK</td>
                    }
                </div>
            </tr>
        } @empty {
            <tr>
                <td><span class="badge badge-warning">No hay cervezas para mostrar</span></td>
            </tr>
        }
    </tbody>
</table>
