<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="hambur.imagen" [alt]="hambur.nombre"></td>
            <td>{{hambur.nombre}}</td>
            <td>{{hambur.precio}}</td>
            <td>{{hambur.categoria}}</td>
        </tr>
        <tr>
            <td>sss</td>
            <td>sss</td>
            <td>sss</td>
            <td>sss</td>
        </tr>
        <tr>
            <td>sss</td>
            <td>sss</td>
            <td>sss</td>
            <td>sss</td>
        </tr>
    </tbody>
</table>
